
<div class="d-sm-block d-none">
    <h2>数据</h2>
    <p>选择需要解决的问题</p>
</div>

<div class="nav-panel">
    <Tooltip Text="旅行商问题" Margin="Margin.Is1"  >
        <NavLink href="/travellingsalesman" >
            <Button class="@buttonClasses[0]" >
                <img src="images/nav/taxi.svg" alt="Taxi" class="nav-button-img" />
            </Button>
        </NavLink>  
    </Tooltip>

    <Tooltip Text="八皇后问题" Margin="Margin.Is1">
        <NavLink href="/eightqueens">
            <Button class="@buttonClasses[2]" >
                <img src="images/nav/queen.svg" alt="Queen" class="nav-button-img"/>
            </Button>
        </NavLink>    
    </Tooltip>

</div>
